.vscode
memes/*
tempMemes/*
errorLogs/*
data/filterCache
env.json
node_modules
tempDne.jpg
tempPoll.png
storage.json
storage*.json
commands.json
test*.js
tempMove
usage.json
system.prompt
Mongo