.vscode
memes/*
tempMemes/*
errorLogs/*
data/filterCache
env.json
node_modules
checkmate.js
Database
storage.json
storage*.json
commands.json
test*.js
tempMove
usage.json
system.prompt
system.prompt*
temp/
dump*
stew*-backup.zip
backup.zip
.idea